
{% block header %}
    {% include 'produits/header.html' %}
{% endblock %}



<div class="row align-items-center " style="margin: 5%; max-width: 60%;
 transform:  translateX(20%);border: solid 1px #45a927;
 box-shadow: #ddd 0px 0px 19px 1px;">
    <div class="col-md-12 text-center">
        <h3 class="text-dark text-center"style=" font-weight:bold;font-size:20px;padding-top:5px">Bonjour M/Mm {{ name }}</h3>
        <h4 class="text-muted text-center" style="font-size: 18px;">Merci de nous faire confiance M/Mm {{ name }} .Nous avons reçu votre demande
            vous serez livrez dans un delai de 24h.
        </h4><hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ipsam quod alias, atque sequi a natus ratione asperiores repellendus id illum laudantium exercitationem voluptates, harum maxime, amet quidem cum in!
        Dolor, soluta iste asperiores et vitae nulla? Doloremque, laborum minus libero asperiores officiis fuga nesciunt neque provident delectus exercitationem, dignissimos aliquam totam dicta sed reprehenderit similique cumque laboriosam placeat ex!
        Sed qui fuga accusamus dolore molestias nesciunt est nobis architecto. Numquam, tempore necessitatibus. Rerum, repellendus velit voluptas quaerat quae eaque! Maxime, recusandae sapiente quibusdam aperiam hic explicabo ullam vel fuga.</p>
    </div>
</div>





{% block footer %}
{% include 'produits/footer.html' %}
{% endblock  %}